<!-- Using a varaible instead of string to extend a particular template -->
{% extends base_template %}
{% load static %}


{% block title_page %}Main Page{% endblock %}
{% block extra %}
<link rel="stylesheet" href="{% static 'orders/main.css' %}" />
{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 style="color:green">{{ message }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <img style='height: 100%; width: 100%; object-fit: contain' src="{% static 'orders/pizza.jpg' %}">
        </div>

    </div>

</div>
{% endblock %}