<!-- This using a variable to extend/inhert a base tempalte based on wether the user is authenticated  -->
{% extends base_template %}
{% load static %}

{% block title_page %}Main Page{% endblock %}

{% block extra %}
<link rel="stylesheet" href="{% static 'orders/main.css' %}"/> 
<script type="text/javascript" src="{% static 'orders/pasta.js' %}"></script>
{% endblock %}

{% block body %}

{% csrf_token %}

<div class="container">
    <div class="row">
        <div class="col" align="center">
            <table>
                <!-- Note, code is repeated in the if statements to avoid performig multiple if statement conditions -->
                {% if user.is_authenticated %}
                <thead>
                <tr>
                    <th scope="col" id="orderType">Pasta</th>
                    <th scope="col">Price</th>
                    <th scope="col">Add to Cart</th>
                </tr>
                </thead>
                <tbody>
                {% for menu in sub_menu %}
                <tr>
                    <td>{{menu.classification}}</td>
                    <td> ${{menu.price}}</td>
                    <td align="center">
                        <button type="button" class="btn btn-outline-dark" data-id="{{menu.id}}">+</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

                {% else %}
                <thead>
                <tr>
                    <th scope="col">Pasta</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                {% for menu in sub_menu %}
                <tr>
                    <td>{{menu.classification}}</td>
                    <td> ${{menu.price}}</td>
                </tr>
                {% endfor %}
                </tbody>


                {% endif %}

            </table>
        </div>

    </div>
</div>

{% endblock %}