{% extends base_template %}
{% load static %}

{% block title_page %}Main Page{% endblock %}

{% block extra %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

<!-- Handle Bars Template System -->
<script id="inputTemplate" type="text/x-handlebars-template">
    <div>
        <select class="custom-select">
            <option selected>Select...</option>
            {% for topping in toppings %}
            <option value="{{topping}}">{{topping}}</option>
            {% endfor %}
        </select>
    </div>
    <br>
</script>
<!-- End of hande bars -->


<link rel="stylesheet" href="{% static 'orders/main.css' %}" />
<script type="text/javascript" src="{% static 'orders/index.js' %}"></script>
{% endblock %}

{% block body %}
{% csrf_token %}

<div class="container">
    <div class="row">
        <div class="col-9">
            <table>
                {% if user.is_authenticated %}
                <thead>
                    <tr>
                        <th scope="col">Pizza Type</th>
                        <th scope="col">Size</th>
                        <th scope="col">Number of Toppings</th>
                        <th scope="col">Price</th>
                        <th scope="col">Add to Cart</th>
                    </tr>
                </thead>
                <tbody>
                    {% for menu in pizza_menu %}
                    <tr>
                        <td>{{menu.classification}}</td>
                        <td>{{menu.size}}</td>
                        <td align="center"> {{menu.num_toppings}} {% if menu.num_toppings == 5 %}(Special) {% endif %}
                        </td>
                        <td> ${{menu.price}}</td>
                        <td align="center">
                            <button type="button" class="btn btn-outline-dark" data-id="{{menu.id}}"
                                data-toppings="{{menu.num_toppings}}">+
                            </button>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>


                {% else %}
                <thead>
                    <tr>
                        <th scope="col">Pizza Type</th>
                        <th scope="col">Size</th>
                        <th scope="col">Number of Toppings</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for menu in pizza_menu %}
                    <tr>
                        <td>{{menu.classification}}</td>
                        <td>{{menu.size}}</td>
                        <td align="center"> {{menu.num_toppings}} {% if menu.num_toppings == 5 %}(Special) {% endif %}
                        </td>
                        <td> ${{menu.price}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}

            </table>
        </div>

        <div class="col-3">
            <h3>Toppings</h3>
            <ul>
                {% for topping in toppings %}
                <li>
                    {{ topping }}
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>
<!-- Modal to display -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select your toppings</h5>
            </div>
            <div class="modal-body">
                <!-- Body Of Modal -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Submmit</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}