{% extends base_template %}
{% load static %}

{% block title_page %}Subs{% endblock %}

{% block extra %}
<link rel="stylesheet" href="{% static 'orders/main.css' %}"/>
<script type="text/javascript" src="{% static 'orders/sub.js' %}"></script>
{% endblock %}

{% block body %}

{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col" align="center">
            <table>
                {% if user.is_authenticated %}
                <thead>
                <tr>
                    <th scope="col" id="orderType">Sub</th>
                    <th scope="col">Size</th>
                    <th scope="col">Price</th>
                    <th scope="col">Add to Cart</th>
                </tr>
                </thead>
                <tbody>
                {% for menu in sub_menu %}
                <tr>
                    <td>{{menu.classification}}</td>
                    <td>{{menu.size}}</td>
                    <td> ${{menu.price}}</td>
                    <td align="center">
                        <button type="button" class="btn btn-outline-dark" data-id="{{menu.id}}">+</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                {% else %}
                <thead>
                <tr>
                    <th scope="col" id="orderType">Sub</th>
                    <th scope="col">Size</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                {% for menu in sub_menu %}
                <tr>
                    <td>{{menu.classification}}</td>
                    <td>{{menu.size}}</td>
                    <td> ${{menu.price}}</td>
                </tr>
                {% endfor %}
                </tbody>
                {% endif %}

            </table>
        </div>

    </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Extra Cheese?</h5>
            </div>
            <div class="modal-body">
                <select class="custom-select">
                    <option selected>Select...</option>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Submmit</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}